body{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    color: #393d41;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #25a2c3;
    font-size: 1.5em;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #25a2c3;
    font-size: 1em;
}
header{
    height: 20vh;
    background-color: black;
}
header img{
    height: 10vh;
    margin: 30px;
    padding-left: 40px;
}
main{
    text-align: center;
}
.partiamo{
    height: 70vh;
    background-image: url(/images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 10% 20%;
    box-sizing: border-box;
}
button{
    background-color: #f04c2f ;
    border-radius: 5%;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    height: 40px;
    width: 145px;
    margin-top: 5%;
    font-size: 1rem;
}
button:hover{
    cursor: pointer;
}
.cerchio{
    
    
}
.notebook{
    min-width: 50%;
    float: left;
}
.cerchio{
    height: 85vh;
}
.testo{
    text-align: left;
    float: right;
    padding: 10% 10% 10% 0;
    max-width: 40%;
}
.notebook img{
    border-radius: 50%;
    max-width: 30%;
    min-width: fit-content;
    padding:10% 0 10%  ;
    margin-left: 10%;
    
}
.red{
    height: 40vh;
    background-color: #e22d0e;
}
#testimonianze{
    height: 100%;
    text-align: center;
    padding: 5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: white;
}
#testimonianze h1{
    color: white;
    padding-bottom: 2%;
}
#testimonianze h2{
    color: white;
    padding-bottom: 2%;
    font-style: italic;
    font-family:"Open Sans", sans-serif ;
}
h5{
    font-size: 0.7em;
    font-family: "Montserrat", sans-serif;
}
#cards{
    
    height: 100vh;
}
.card{
    width: 300px;
    height: 320px;
    display: inline-block;
    padding: 10% 2%;

}

    
        
